# Configurações do Banco de Dados PostgreSQL
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=mydatabase
DB_PORT=5432

# URL de Conexão para a Aplicação (o Docker Compose usará as variáveis acima)
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:${DB_PORT}/${POSTGRES_DB}?schema=public"

SECRET_JWT="SEU_SEGREDO_FORTE_E_ALEATORIO_DE_64_CARACTERES_AQUI"


ADMIN_EMAIL="admin@uaifood.com"
ADMIN_PASSWORD="admin123"